/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --rec-color: transparent;
  --corner-color: #353430;
  --section-title-color: #353430;
  --header-title-color: #ffc2e6;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --border-color: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --accent-color: #ff8dcb;
  --corner-color: #353430;
  --rec-color: transparent;
  --section-title-color: #353430;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --border-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --accent-color: #ff8dcb;
    --corner-color: #353430;
    --rec-color: transparent;
    --section-title-color: #353430;
    --header-title-color: #ffc2e6;
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --border-color: #353430;
  }
}
