/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.inline-padding {
  padding: 0 10px;
}

.header {
  position: relative;
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  min-height: 668px;
  padding-block-end: 66px;
}

.corner-decor::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.corner-decor::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  display: var(--rec-display);
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--accent-color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  padding-block: 75px 60px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__theme-menu-item {
  box-sizing: border-box;
  color: var(--accent-color);
  background-color: transparent;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--button-color);
  font-family: "IBM Plex mono", serif;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

/* button */

.header__theme-menu-button_active {
  border: 1px solid var(--button-active-border-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-active-border-color);
}

.header__title {
  color: var(--header-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  height: fit-content;
  margin-block-start: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.title__decor {
  font-size: 18px;
  color: var(--title-color);
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block: 40px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* заменен на вышестоящий флекс для пункта списка.
  .list-item__title {
  margin-block-end: 9px;
} */

.focus_article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.focus_article h3 {
  margin-block-end: 5px;
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.list-item__text {
  font-size: 18px;
  line-height: 23.4px;
  /* padding-inline-end: 10px; 
  вроде как не нужен больше */
}

.list-item__link {
  color: inherit;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0 var(--accent-color);
}

.list-item__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.list-item__link:focus {
  outline: none;
}

.list-item__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.article__link:hover {
  text-decoration: underline;
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.focus_article ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li h4 {
  display: block;
  margin-block-start: 5px;
  font-weight: 400;
  font-size: 18px;
}

.article__image-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  margin: 12px 0px 0px 0px;
}

.image_article {
  margin-block-start: 30px;
}

.article__image-set img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

@media (width >=768px) {
  .inline-padding {
    padding: 0 20px;
  }

  .header__theme-menu {
    padding-block: 190px 170px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .corner-decor::before {
    bottom: 20px;
    left: 20px;
  }

  .corner-decor::after {
    top: 20px;
    right: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    justify-self: end;
    width: 50%;
    margin-block-start: 162px;
    margin-block-end: 183px;
  }

  .main {
    margin-block-start: 60px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    margin-block-end: 30px;
  }

  .list-two-columns {
    grid-column: 1 / 3;
  }

  .list-two-columns p {
    padding-inline-end: 0px;
  }

  .image_article {
    grid-column: 1 / 3;
    margin-block-start: 60px;
  }

  .article__image-set {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
    margin-block-start: 20px;
  }

  .article__image-set img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img_1 {
    grid-column: 1 / 3;
  }

  .img_2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .img_3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .img_4 {
    grid-column: 2 / 3;
  }

  .img_5 {
    grid-column: 2 / 4;
  }

  .footer {
    margin-block-start: 30px;
  }
}

@media (width >=1024px) {
  .header__title {
    padding-block-start: 255px;
  }

  .header__description {
    margin-block-start: 113px;
    margin-block-end: 135px;
  }

  .header__theme-menu {
    justify-self: center;
    padding-block: 18px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    gap: 12px;
  }

  .section__list {
    gap: 20px;
  }

  .list-item__text {
    padding-inline-end: 0;
  }

  .list-two-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: 10px;
  }

  .image_article h3 {
    margin-block-start: 4px;
  }

  .image_article {
    margin-block-start: 65px;
  }

  .footer h2 {
    padding-block-start: 0px;
    padding-inline-start: 15px;
  }
}
